.t1{ background-color: rgb(255, 110, 13);
    color: rgb(255, 255, 255);

}
.t2{ background-color: rgb(255, 110, 13);
    color: rgb(255, 255, 255);

}
.t3{ background-color: rgb(255, 110, 13);
    color: rgb(255, 255, 255);

}
.t4{ background-color: rgb(255, 110, 13);
    color: rgb(255, 255, 255);

}
.t5{ background-color: rgb(255, 110, 13);
    color: rgb(255, 255, 255);

}
.a{
    font-size: medium;
}
p{
    font-size: medium;
}
h1{
    background-color: rgb(255, 110, 13);
    color: rgb(255, 255, 255);

}
.b{
    font-size: medium;
}